/* *********************** TOGGLE SWITCH *********************** */
:root {
   /* ************ Colors ************* */
    --line-color: #4F5164;
    --active-color: #F9DEC9;
    --inactive-color: #F78CA2;
    --body-color: #121217;
}
